extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Alexas Borelli

        p Full Stack JavaScript Developer


        .about-bio

          p I'm a former healthcare professional with a passion for technology. After working as an EMT and Patient Care/HSG Coordinator, I made the bold decision to transition into tech, a journey that required courage, adaptability, and a commitment to learning from the ground up.
          p Driven by curiosity, I dove into both front-end and back-end development, mastering HTML, CSS, Python, and Full-Stack JavaScript. My background in healthcare sharpened my problem-solving skills and taught me to design solutions that are both efficient and user-centered. Most recently, I've applied these skills as a freelance web developer, two of the websites i've design are The Cage Restaurant and Flawless Designs where I built custom WordPress websites tailored to their unique needs.



      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Python
          li React 
          li SQL
          li JSX
          li Git and GitHub
          li Sass
          li VS Code
          li Accessibility
          li Object-Oriented Programming
          li AJAX 
          li JSON 
          li Bootstrap Basics
          li Fetch and Public APIs
          li Rest API 
          li Node.js
          li Express
          li Pug
          li Pandas
          li PyCharm
          li Vite 
          li SQLite
          li SQL ORM Sequelize
          li Postman
          li Axios
          li WordPress 
          li SiteOrigin

        h6 Contact Info

        ul
          li alexasborelli@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/alexas-borelli/') LinkedIn
        a.btn-link(href='https://github.com/lexborelli') GitHub
        a.btn-link(href='https://drive.google.com/file/d/1ccSkMMlza6HEVMhDgzRgcGC-wiCURzPg/view?usp=sharing') Resume

    nav.nav
      a(href='/')
        span &larr;
        |  Back