extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Alexas Borelli

        p Full Stack JavaScript Developer


        .about-bio

          p I'm a former healthcare professional who is boldly transitioning from roles as an EMT and patient Care/ HSG coordinator into the dynamic world of technology. The decision to pivot from medicine to tech wasn't made lightly. It required courage, adaptability, and a willingness to learn from scratch. However, I immersed myself in coding languages by learning front-end and back-end development.
          p My background in medicine has sharpened my ability to approach problem-solving from unique angles, designing solutions that are both efficient and user-centered. My curiosity and passion for coding have driven me to master HTML, CSS, Python, and FullStack JavaScript, leading to deep satisfaction in crafting visually captivating web applications. Recently, I’ve leveraged these skills as a freelance web developer for two businesses, God In Your Business LLC and Flawless Designs LLC, where I engineered custom WordPress sites.
          p Away from the screen, you can find me indulging in desserts, mastering a new recipe, and binging Netflix shows.


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Python
          li React 
          li SQL
          li JSX
          li Git and GitHub
          li Sass
          li VS Code
          li Accessibility
          li Object-Oriented Programming
          li AJAX 
          li JSON 
          li Bootstrap Basics
          li Fetch and Public APIs
          li Rest API 
          li Node.js
          li Express
          li Pug
          li Pandas
          li PyCharm
          li Vite 
          li SQLite
          li SQL ORM Sequelize
          li Postman

        h6 Contact Info

        ul
          li alexasborelli@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/alexas-borelli/') LinkedIn
        a.btn-link(href='https://github.com/lexborelli') GitHub
        a.btn-link(href='https://drive.google.com/file/d/1KdJaHX7PRb_yI5sukLXyvb2W0RP73SL9/view?usp=sharing') Resume

    nav.nav
      a(href='/')
        span &larr;
        |  Back