extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Alexas Borelli

        p Full Stack JavaScript Developer


        .about-bio

          p I'm a former healthcare professional who is boldly transitioning from roles as an EMT and patient Care/ HSG coordinator into the dynamic world of technology. The decision to pivot from medicine to tech wasn't made lightly. It required courage, adaptability, and a willingness to learn from scratch. However, I immersed myself in coding languages by learning front-end and back-end development.
          p My background in medicine has helped me approach problem-solving from unique angles and design solutions that are not only efficient but also user-centered. Driven by my passion and inherent curiosity for the step-by-step progression in utilizing codes with HTML, CSS, python and FullStack JavaScript; I discovered satisfaction in designing visually captivating web applications.
          p Away from the screen, you can find me indulging in desserts, mastering a new recipe, and binging Netflix shows.


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Python
          li SQL
          li Git and GitHub
          li Sass
          li VS Code
          li Accessibility
          li Object-Oriented Programming
          li AJAX 
          li JSON 
          li Bootstrap Basics
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li alexasborelli@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/alexas-borelli/') LinkedIn
        a.btn-link(href='https://github.com/lexborelli') GitHub
        a.btn-link(href='https://drive.google.com/file/d/1yt-KFqx76O_pRRDAuy5OTAzS4E_1QtmI/view?usp=sharing') Resume

    nav.nav
      a(href='/')
        span &larr;
        |  Back