extends layout.pug

block content

  article.portfolio-intro

    h1 My Portfolio 

    p Welcome to my Portfolio site! I discovered satisfaction in designing visually captivating web applications. Come and enjoy the dynamic world of Javascript with me by exploring my projects that showcase my passion to code!


  article.portfolio-project-thumbs
    .projects-box.box.grid

      //- Use the Pug `each` iterator to loop over the projects   
      each project in projects 
      
        .cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`${project.images_url[1]}`, alt=`A picture of ${project.project_name}`)
            h5=`${project.project_name}`