extends layout.pug

block content

  article.portfolio-intro

    h1 My Portfolio 

    p Hey there! Welcome to my portfolio. I am passionate about creating visually engaging web applications that bring ideas to life. As a freelance web developer, I have had the opportunity to design websites for all kinds of clients. Take a look at my websites and projects to see how I use JavaScript to build interactive and dynamic experiences!


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects 
      
        .cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`${project.images_url[1]}`, alt=`A picture of ${project.project_name}`)
            h5=`${project.project_name}`