<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/styles.css')

  body
    #my-info.sidebar
      .sidebar-info-box
        br
        .thumbnail-box
          img.thumbnail(src='/static/images/me/me.jpg', alt='A photo of me')
        .dev-intro-box

          //- Replace with your name
          h5 Alexas Borelli

          //- Replace with description of who you are, what you do, and why you are so awesome
          p Hi, my name is Alexas Borelli!
          p I'm a former healthcare professional who is boldly transitioning into the dynamic world of technology. The decision to pivot from medicine to tech wasn't made lightly. It required courage, adaptability, and a willingness to learn from scratch. However, I immersed myself in coding languages by learning front-end and back-end development.

          //- Add path from your '/about' route handler to the href below
          a(href='/about') Learn More &rarr;

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')

          //- Replace with your name — this is for the mobile layout
          span Alexas Borelli

      block content

  script(src='/static/js/script.js')